<app-nav></app-nav>

<section>
  <router-outlet></router-outlet>
</section>

<div style="text-align: center;">
  <h1>
    What is {{x}} + {{y}} = ?

  </h1>
</div>

<div style="text-align: center;">
  <button class="multipleChoiceBtn" id="Btn1" (click)=" getNextQuestion() ; checkAnswer($event)" mat-stroked-button>
    {{potentialAnswer1}}
  </button>&nbsp;&nbsp;&nbsp;
  <button class="multipleChoiceBtn" id="Btn2" (click)=" getNextQuestion() ; checkAnswer($event)" mat-stroked-button>
    {{potentialAnswer2}}
  </button>&nbsp;&nbsp;&nbsp;
  <button class="multipleChoiceBtn" id="Btn3" (click)=" getNextQuestion() ; checkAnswer($event)" mat-stroked-button>
    {{potentialAnswer3}}
  </button>&nbsp;&nbsp;&nbsp;
  <button class="multipleChoiceBtn" id="Btn4" (click)=" getNextQuestion() ; checkAnswer($event)" mat-stroked-button>
    {{potentialAnswer4}}
  </button>&nbsp;&nbsp;&nbsp;

  <!--<button class="multipleChoiceBtn" id="Btn5" (click)=" getNextQuestion()" mat-stroked-button>Jeremy Button</button>&nbsp;&nbsp;&nbsp;-->


</div>

