<header>
  <div class="container">
    <a routerLink="/" class="logo">{{appTitle}}</a>
    <nav>
      <ul>
        <li><a class="navOptions" routerLink="/">Home</a></li>
        <li><a class="navOptions" routerLink="/about">About</a></li>
        <li><a class="navOptions" routerLink="/contact">Contact us</a></li>
        <li><a class="navOptions" routerLink="/play">Play</a></li>


        <!-- From: -->
        <!--<a routerLink="/">myapp</a>-->

        <!--&lt;!&ndash; To: &ndash;&gt;-->
        <!--<a routerLink="/">{{ appTitle }}</a>-->

      </ul>
    </nav>
  </div>
</header>
